*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
 }
 :root {
     --bgColor: #FCFBF7;
     --titleColor: #BEBDBB;
     --accentColor: #7D3C98;
    --neutralGrey: #BEBDBB;
    --pink: #f25fd0;
    --purple: #a65ff2;
    --blue: #5f86f2;
    --cyan: #5ff2f0;

 }
 body {
     background-color: var(--bgColor);
     width: 100%;
     height: 100vh;
     overflow: auto;
     font-family: 'Montserrat';
 }
 .wrapper {
  margin-top: 150px;
 }
 .category {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  padding: 20px;
  border: 3px solid var(--pink);
  border-radius: 12px;
 }
 .header{
   height: 60px;
   width: auto;
   background-color: var(--bgColor);
   position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 30;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
 }
 .header img {
  float: right;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.header h1 {
  position: relative;
  float: left;
  top: 8px;
  left: 10px;
}
.catHeader{
  text-align: center;
  margin-top: 80px;
  margin-bottom: -10px;
  text-decoration: underline
}

 .gradient-border {
   --border-width: 3px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: inherit;
   height: 150px;
   border: 3px solid #a65ff2;
   border-radius: 6px;
   transition: transform .3s;
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out, transform .3s;
 }
 .gradient-border:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 }
 .credit {
     color: var(--titleColor);
     font-family: var(--font);
     text-align: center;
     margin-top: 20px;
     padding: 25px;
     font-size: 0.7rem;
 }
 #corpPhoto {
     width: 200px;
     height: auto;
     display: block;
     /* margin: 20px auto 5px; */
 }
 ul {
  display: flex;
  text-align: center;
  margin-left: 20px;
}
li{
  width: 90%;
  max-width: 400px;
  margin: 20px;
  text-align: center;
}

.placeholder{
  display: inline-block;
  width: 80%;
  margin: 20px;
  border: 3px solid var(--pink);
  border-radius: 6px;
  background-color: rgba(242, 95, 208, 0.5);
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
